<h4>{{ _('InfluxDB Connection') }}</h4>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">{{ _('Server') }}</label>
    <div class="controls">
      <input type="text" class="input-medium" placeholder="localhost" data-bind="value: settings.plugins.influxdb.host">
      <input type="number" step="1" class="input-small" data-bind="value: settings.plugins.influxdb.port, attr: {placeholder: settings.plugins.influxdb.udp() ? 4444 : 8086}">
    </div>

    <div class="controls">
      <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.influxdb.authenticate"> {{ _('Authenticate') }}
      </label>
      <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.influxdb.udp"> {{ _('Use UDP') }}
      </label>
      <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.influxdb.ssl"> {{ _('Use SSL') }}
      </label>
      <label class="checkbox inline" data-bind="css: {muted: !settings.plugins.influxdb.ssl() }">
        <input type="checkbox" data-bind="checked: settings.plugins.influxdb.verify_ssl, enable: settings.plugins.influxdb.ssl"> {{ _('Verify SSL') }}
      </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">{{ _('Database') }}</label>
    <div class="controls">
      <input type="text" class="input-medium" placeholder="octoprint" data-bind="value: settings.plugins.influxdb.database">
      <span class="help-block">
        {{ _('If this database does not exist on connection, the plugin will attempt to create it.') }}
      </span>
    </div>

    <br>

    <label class="control-label">{{ _('Prefix') }}</label>
    <div class="controls">
      <input type="text" class="input-medium" placeholder="(no prefix)" data-bind="value: settings.plugins.influxdb.prefix">
      <span class="help-block">
        {{ _('Measurement names will be prefixed by this string. Helpful when sharing a database.') }}
      </span>
    </div>
  </div>

  <div class="control-group" data-bind="visible: settings.plugins.influxdb.authenticate">
    <h4>{{ _('Authentication Info') }}</h4>
    <label class="control-label">{{ _('Username') }}</label>
    <div class="controls">
      <input type="text" class="input-medium" placeholder="{{ _('Username') }}" data-bind="value: settings.plugins.influxdb.username">
    </div>

    <br>

    <label class="control-label">{{ _('Password') }}</label>
    <div class="controls">
      <input type="password" class="input-medium" placeholder="{{ _('Password') }}" data-bind="value: settings.plugins.influxdb.password">
    </div>
  </div>

  <div class="control-group">
    <h4>{{ _('Gather Settings') }}</h4>
    <label class="control-label">{{ _('Interval') }}</label>
    <div class="controls">
      <div class="input-append">
        <input type="number" class="input-mini" placeholder="10" data-bind="value: settings.plugins.influxdb.interval">
        <span class="add-on">s</span>
      </div>
      <span class="help-block">
        {{ _('Amount of time to wait between recording data points.') }}
      </span>
    </div>
  </div>

  <h4>{{ _('Measurements') }}</h4>
  <p>{{ _('As configured, this plugin will write the following measurements to the %(db)s database:', db='<tt data-bind="text: settings.plugins.influxdb.database"></tt>') }}</p>
  <dl>
    <dt><span data-bind="text: settings.plugins.influxdb.prefix"></span>temperature</dt>
    <dd>{{ _('Recorded and target temperatures for the bed and tools.') }}</dd>
    <dt><span data-bind="text: settings.plugins.influxdb.prefix"></span>events</dt>
    <dd>{{ _('OctoPrint events, like %(ex1)s and %(ex2)s.', ex1='<tt>PrintStarted</tt>', ex2='<tt>PrintDone</tt>') }}</dd>
    <dt><span data-bind="text: settings.plugins.influxdb.prefix"></span>progress</dt>
    <dd>{{ _('Print progress.') }}</dd>
    <dt><span data-bind="text: settings.plugins.influxdb.prefix"></span>state</dt>
    <dd>{{ _('Printer state and loaded file details.') }}</dd>
  </dl>
</form>
