<h4>{{ _('InfluxDB Plugin Settings') }}</h4>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">{{ _('InfluxDB Server') }}</label>
    <div class="controls">
      <input type="text" class="input-medium" placeholder="localhost" data-bind="value: settings.plugins.influxdb.host">
      <input type="number" step="1" class="input-small" data-bind="value: settings.plugins.influxdb.port, attr: {placeholder: settings.plugins.influxdb.udp() ? 4444 : 8086}">
    </div>

    <div class="controls">
      <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.influxdb.authenticate"> {{ _('Authenticate') }}
      </label>
      <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.influxdb.udp"> {{ _('Use UDP') }}
      </label>
      <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.influxdb.ssl"> {{ _('Use SSL') }}
      </label>
      <label class="checkbox inline" data-bind="css: {muted: !settings.plugins.influxdb.ssl() }">
        <input type="checkbox" data-bind="checked: settings.plugins.influxdb.verify_ssl, enable: settings.plugins.influxdb.ssl"> {{ _('Verify SSL') }}
      </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">{{ _('Database') }}</label>
    <div class="controls">
      <input type="text" class="input-medium" placeholder="octoprint" data-bind="value: settings.plugins.influxdb.database">
      <span class="help-block">
        {{ _('If this database does not exist on connection, the plugin will attempt to create it.') }}
      </span>
    </div>
  </div>

  <div class="control-group" data-bind="visible: settings.plugins.influxdb.authenticate">
    <h4>{{ _('Authentication Info') }}</h4>
    <label class="control-label">{{ _('Username') }}</label>
    <div class="controls">
      <input type="text" class="input-medium" placeholder="{{ _('Username') }}" data-bind="value: settings.plugins.influxdb.username">
    </div>

    <label class="control-label">{{ _('Password') }}</label>
    <div class="controls">
      <input type="password" class="input-medium" placeholder="{{ _('Password') }}" data-bind="value: settings.plugins.influxdb.password">
    </div>
  </div>
</form>
